body {
    background-color: black;
    color: silver;
}
nav.navbar li .btn-group-vertical {
   padding: 3px 3px 0 0;
}
.logo-menu {
    width: 100px;
}
#languages {
    position: relative;
}
#languages > .btn-default {
    background-color: #444;
}
.page-header {
   padding-bottom: 0;
   margin-bottom:0;
}