$color-green: #39b54a;
$color-blue: #007BFF;
$color-bg: darken(#fff, 3%); 
$color-font:    lighten(#000, 20%);
$color-language-bg: #444;
$color-modal-bg:  darken($color-bg,20%); 
$color-modal-font:  darken($color-font, 20%);
$font-base: Helvetica, sans-serif;
$font-input: "Lucida Console", Monaco, monospace;
body {
    background-color: $color-bg;
    color: $color-font;
}
.logo-menu {
    width: 100px;
}
#languages {
    position: relative;
    > .btn-default {
        background-color: $color-language-bg;
    }
}
.page-header {
   padding-bottom: 0;
   margin-bottom:0;
}
nav {
    .navbar{
        li {
            .btn-group-vertical {
                padding: 3px 3px 0 0;
            }
        }
    }
}
.modal-content {
    background-color:   $color-modal-bg;
    color:              $color-modal-font;

    .modal-header{
        border-bottom-color: lighten($color: $color-modal-bg, $amount: 10%);
        //background-color: rbga( darken($color: $color-modal-bg, $amount: 10%), 1 );
        background-color: transparent;
    }
    .modal-body{
        
        input, textarea, select {
            background-color: $color-bg;
            font-family: $font-input; 
            border: solid 1px darken($color: $color-modal-bg, $amount: 10%);              
        }
        .input-group-text {
            background-color: $color-modal-bg;
            //color: darken($color: $color-modal-bg, $amount: 15%);
            border: solid 1px darken($color: $color-modal-bg, $amount: 10%);
        }
    }
    .modal-footer{
        border-top-color: darken($color: $color-modal-bg, $amount: 20%);
        //background-color: rbga(darken($color: $color-modal-bg, $amount: 10%), 0.2);
        background-color: transparent;
        border-radius: 0 0 5px 5px;
    }
}
